<footer class="d-flex align-self-end fixed-bottom">
<div class="container mt-5 justify-content-center d-flex">
    <div class="btn-group justify-content-between d-flex " role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary m-5">RGPD</button>
        <button type="button" class="btn btn-secondary m-5">Contact</button>
        <button type="button" class="btn btn-secondary m-5">More ? </button>
    </div>
</div>
</footer>