<footer class=" fixed-bottom bg-light justify-content-center d-flex" style="height: 5%">

    <div class=" btn-group  justify-content-start d-flex " role="group" aria-label="Basic example" style="height: 90%">
        <button type="button" class="btn btn-secondary mt-1 me-5">RGPD</button>
        <button type="button" class="btn btn-secondary mt-1 me-5 ms-5">Contact</button>
        <button type="button" class="btn btn-secondary mt-1 ms-5">More ? </button>
    </div>

</footer>