<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('user.index') }}">Profil
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>