<body>
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue !</h1>
        <p class="lead">Afin d'avoir accés aux fonctionnalité du site web veuillez vous inscrire.</p>

        <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
    </div>
</div>
</body>