<body class="body">
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue !</h1>
        <p class="lead">Afin d'avoir accés aux fonctionnalitées du site web veuillez vous inscrire ou vous connectez.</p>

        <a class="btn btn-outline-primary btn-lg me-4" href="{{ path('user.new') }}"  role="button">Inscription</a>
        <a class="btn btn-outline-secondary btn-lg" href="{{ path('app_login') }}"  role="button">Connexion</a>
    </div>
</div>
</body>