.relative{
    position: relative;
}

.icons1{
    top: 8em;
    right: -15em;
}

.icons2{
    bottom: -15em;
    right: -15em;
}

.icons3{

    bottom: 24em;
    right:  -70em;
}

.icons4{
    bottom: 18em;
    right:  -70em;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.bcg{
    /* background: linear-gradient(to bottom right, lightblue, white); */
    /* background-color: lightblue; */
    background-image: url("../Assets/date.png") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}



